node_modules
.bun
bun.lockb
pnpm-lock.yaml
package-lock.json

.DS_Store

coverage
dist

cypress/videos
cypress/screenshots

apps/demo/.vite
apps/demo/*.js
apps/demo/*.d.ts
apps/demo/*.tsbuildinfo
apps/demo/src/*.js
apps/demo/src/*.jsx
apps/demo/src/*.d.ts
